In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# Retrieve TSLA Stock
tsla = yf.Ticker("TSLA")

# Show stock history
tsla_hist = tsla.history(period="max")
tsla_hist.head()

             Open   High    Low  Close    Volume  Dividends  Stock Splits
Date
2010-06-29  3.800  5.000  3.508  4.778  93831500          0           0.0
2010-06-30  5.158  6.084  4.660  4.766  85935500          0           0.0
2010-07-01  5.000  5.184  4.054  4.392  41094000          0           0.0
2010-07-02  4.600  4.620  3.742  3.840  25699000          0           0.0
2010-07-06  4.000  4.000  3.166  3.222  34334500          0           0.0

In [3]:
# Create column for change in price
# Change in price = Close price - Open price
tsla_hist["Change In Price"] = tsla_hist["Close"] - tsla_hist["Open"]
tsla_hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Change In Price
Date,,,,,,,,
2010-06-29,3.800,5.000,3.508,4.778,93831500,0,0.0,0.978
2010-06-30,5.158,6.084,4.660,4.766,85935500,0,0.0,-0.392
2010-07-01,5.000,5.184,4.054,4.392,41094000,0,0.0,-0.608
2010-07-02,4.600,4.620,3.742,3.840,25699000,0,0.0,-0.760
2010-07-06,4.000,4.000,3.166,3.222,34334500,0,0.0,-0.778

In [4]:
# Show Index of dataframe
tsla_hist.index

DatetimeIndex(['2010-06-29', '2010-06-30', '2010-07-01', '2010-07-02',
               '2010-07-06', '2010-07-07', '2010-07-08', '2010-07-09',
               '2010-07-12', '2010-07-13',
               ...
               '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12',
               '2020-11-13', '2020-11-16', '2020-11-17', '2020-11-18',
               '2020-11-19', '2020-11-20'],
              dtype='datetime64[ns]', name='Date', length=2620, freq=None)

In [5]:
# Save only relevant dates
tsla_data = tsla_hist.loc['2020-01-25':, 'Change In Price']
tsla_data.head()

Date
2020-01-27    3.205994
2020-01-28   -0.318001
2020-01-29    1.059998
2020-01-30    1.678001
2020-01-31    2.113998
Name: Change In Price, dtype: float64

In [6]:
# Save data as csv file
tsla_data.to_csv('data/tesla_data.csv')